@import "_variables.scss";
@import "../../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap.scss";


@import "../../common.scss";
@import "../../dashboard.scss";
@import "../../widgets.scss";
@import "../../local-config.scss";
@import "../../widgetdesigner.scss";

@import "../../../../app/widgets/**/*.scss";

.header {
    background: none;

    h2, .btn.btn:not(.btn-default):not(.btn-primary):not(.btn-success) {
        text-shadow: 0 0 6px $body-bg;
    }
}
