.chart-content .chart .grid .tick > line {
  stroke: $chart-stroke;
}

.chart-content .chart .axis > .tick > text {
  fill: $chart-fill;
  font-family: $font-family-base;
}

.chart-content .legend-label {
  color: $widget-text-color;
}

.chart-content .chart-tooltip {
  background-color: $chart-tooltip;
}

.chart .axis {
  font-size: 0.72em;
}