<div class="header">
	<a class="btn pull-right" ng-click="vm.goFullscreen()"><i class="glyphicon glyphicon-resize-full"></i></a>
    <a class="btn pull-left" ng-hide="lockEditing" ng-click="vm.toggleEditMode()" ng-class="{ 'btn-danger': vm.editMode }"><i class="glyphicon glyphicon-cog"></i></a>
    <h1>{{vm.clock | date:'EEE d MMM HH:mm:ss'}}</h1>
</div>
<div class="row">
    <div gridster="vm.gridsterOptions" class="col-md-12 col-lg-12">
        <div gridster-item="dash" class="dash-card col-md-6 col-lg-6 col-sm-6 box" ng-repeat="dash in vm.dashboards">
            <div class="pull-left dash-buttons" ng-if="vm.editMode">
                <span class="pull-right handle"><i class="glyphicon glyphicon-sort">&nbsp;</i></span>
            </div>
            <div class="pull-right dash-buttons" ng-if="vm.editMode">
                <a class="pull-right" ng-click="vm.removeDashboard(dash)"><i class="glyphicon glyphicon-trash">&nbsp;</i></a>
                <a class="pull-right" ng-click="vm.renameDashboard(dash)"><i class="glyphicon glyphicon-pencil">&nbsp;</i></a>
            </div>
            <h3 ng-click="vm.viewDashboard(dash)" class="card-title">{{dash.name}}</h3>
        </div>
    </div>       
</div>

<br />

<div class="row col-md-12" ng-if="vm.editMode">
    <a class="pull-right" href="#/settings"><i class="glyphicon glyphicon-edit"></i>&nbsp;Advanced settings</a></small>
    <a class="pull-left" ng-click="vm.addNewDashboard()"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new dashboard</a>
    <br /><br /><br />
</div>
