<div>
    <form name="_form" class="form-horizontal" ng-submit="submit(_form)">
        <div class="modal-header">
            <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</button>
            <h3>Dashboard Settings</h3>
        </div>

        <div class="modal-body">
            <uib-tabset>
                <uib-tab heading="Menu tile">
                    <br />
                    <div class="form-group" ng-class="{error: _form.name.$error && _form.submitted}">
                        <label class="control-label col-lg-3 col-md-3">Name</label>
                        <div class="col-lg-9 col-md-9">
                            <input name="name" type="text" ng-model="form.name" class="form-control" />
                        </div>
                    </div>
                    <!--<div class="form-group" ng-class="{error: _form.item.$error && _form.submitted}">
                        <label class="control-label col-lg-3 col-md-3">openHAB Item</label>
                        <div class="col-lg-9 col-md-9">
                            <select ng-model="form.item" ng-options="item.name as item.name for item in items" class="form-control"></select>
                        </div>
                    </div>-->
                    <div class="form-group" ng-class="{error: _form.tile.background_image.$error && _form.submitted}">
                        <label class="control-label col-lg-3 col-md-3">Background Image URL</label>
                        <div class="col-lg-9 col-md-9">
                            <input name="name" type="text" ng-model="form.tile.background_image" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group" ng-class="{error: _form.tile.backdrop_icon.$error && _form.submitted}">
                        <label class="control-label col-lg-3 col-md-3">Backdrop Icon</label>
                        <div class="col-lg-9 col-md-9">
                            <icon-picker iconset="form.tile.backdrop_iconset" icon="form.tile.backdrop_icon"></icon-picker>
                            <div ng-if="form.tile.backdrop_icon" class="checkbox">
                                <label>
                                    <input type="checkbox" name="vertical" ng-model="form.tile.backdrop_center" /> Center backdrop horizontally
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{error: _form.icon.$error && _form.submitted}">
                        <label class="control-label col-lg-3 col-md-3">Icon</label>
                        <div class="col-lg-9 col-md-9">
                            <icon-picker iconset="form.tile.iconset" icon="form.tile.icon"></icon-picker>
                            <div class="col-xs-5 input-group" ng-if="form.tile.icon">
                                <div class="input-group-addon">Size</div>
                                <input name="icon_size" ng-model="form.tile.icon_size" class="form-control" />
                                <div class="input-group-addon">px</div>
                            </div>
                            <div ng-if="form.icon" class="checkbox">
                                <label>
                                    <input type="checkbox" name="vertical" ng-model="form.tile.icon_nolinebreak" /> Icon left of label instead of below
                                </label>
                            </div>
                            <div ng-if="form.icon" class="checkbox">
                                <label>
                                    <input type="checkbox" name="vertical" ng-model="form.tile.icon_replacestext" /> Icon replaces textual value display
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{error: _form.tile.title_color.$error && _form.submitted}">
                        <label class="control-label col-lg-3 col-md-3">Title Text color</label>
                        <div class="col-lg-4 col-md-4">
                            <div dab-model="form.tile.title_color" web-colorpicker dab-width="20" dab-height="20" dab-radius="50" dab-vertical="4" dab-rotate="0" show-grayscale="true"></div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="Advanced">
                    <br />
                    <div class="alert alert-warning">These options are currently experimental, unstable or targeted at advanced users! Use at your own risk.</div>
                    <br />
                    <div class="form-group" ng-class="{error: _form.columns.$error && _form.submitted}">
                        <label class="control-label col-lg-3 col-md-3">Nb. of columns (default 12)</label>
                        <div class="col-lg-3 col-md-3">
                            <input name="name" type="number" ng-model="form.columns" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{error: _form.row_height.$error && _form.submitted}">
                        <label class="control-label col-lg-3 col-md-3">Row height (%)</label>
                        <div class="col-lg-3 col-md-3">
                            <input name="name" type="number" ng-model="form.row_height" class="form-control" />
                            <small>Leave blank to match the column width (square grid)</small>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{error: _form.widget_margin.$error && _form.submitted}">
                        <label class="control-label col-lg-3 col-md-3">Margin between widgets (default 5)</label>
                        <div class="col-lg-3 col-md-3">
                            <input name="name" type="number" ng-model="form.widget_margin" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{error: _form.font_scale.$error && _form.submitted}">
                        <label class="control-label col-lg-3 col-md-3">Font scaling (%)</label>
                        <div class="col-lg-3 col-md-3">
                            <input name="name" type="number" ng-model="form.font_scale" class="form-control" />
                            <small>This will increase font sizes unless they are explicitely defined in pixels</small>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{error: _form.mobile_mode_enabled.$error && _form.submitted}">
                        <label class="control-label col-lg-3 col-md-3">Allow mobile mode</label>
                        <div class="col-lg-9 col-md-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="vertical" ng-model="form.mobile_mode_enabled" /> Stack widgets when screen width is below breakpoint
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="form.mobile_mode_enabled" ng-class="{error: _form.mobile_breakpoint.$error && _form.submitted}">
                        <label class="control-label col-lg-3 col-md-3">Mobile breakpoint (px)</label>
                        <div class="col-lg-3 col-md-3">
                            <input name="name" type="number" ng-model="form.mobile_breakpoint" class="form-control" />
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>

        </div>
        

        <div class="modal-footer">
            <a ng-click="remove()" class="btn btn-danger pull-left" tabindex="-1"><i class="glyphicon glyphicon-trash"></i>&nbsp;Delete</a>
            <a ng-click="dismiss()" class="btn btn-default" tabindex="-1"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancel</a>
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Save</button>
        </div>
    </form>
</div>
