/* Common */
html {
    background-color: black;
}
body {
    background-color: black;
}

h1, h2 {
    color: #def;
}
h1 {
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    padding-top: 6px;
}
.navbar {
    padding: 0 20px;
}
a:hover {
    cursor: pointer;
}
input {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    padding: 4px;
}
.container {
    margin: auto;
    max-width: 1000px;
    height: 100%;
    -webkit-overflow-scrolling: true;
}
.dash-buttons {
    font-size: 30px;
    margin-top: 16px;
    margin-right: -15px;
}
.handle {
    cursor: move;
}
.dash-card {
    margin: 5px 0px 5px 0px;
    height: 100px !important;
    width: 100%;
    float: left;
}
.dash-card h3 {
    height: 100%;
    width: 100%;
    cursor: pointer;
}


/* Dashboard widgets */

.controls {
    margin-bottom: 20px;
}
.page-header {
    margin-top: 10px;
}
ul {
    list-style: none;
}
.box {
    height: 100%;
    background-color: #234;
    color: #def;
}
.box-design {
    border: 1px solid #567;
}
.box-header {
    display: table;
    background-color: #567;
    padding: 0 5px 0 0;
    border-right: 1px solid #567;
    border-bottom: 1px solid #567;
    cursor: move;
    position: absolute;
    opacity: 0.4;
}
.box-header i {
    font-size: 3rem;
    vertical-align: middle;
}
.box-header h3 {
    vertical-align: middle;
    margin: 0.2em 0 0 0;
    display: inline-block;
    font-size: 10pt;
}
.box-content {
    padding: 10px;
    text-align: center;
    height: 100%;
}
.box-header-btns {
    top: 0;
    right: 1rem;
    cursor: pointer;
    position: absolute;
}
.box-label-content {
    display: flex;
}
.box-label {
    margin: auto;
}
.settings-btn i {
    font-size: 3rem;
}
a {
    color: #abc;
}
form {
    margin-bottom: 0;
}
.gridster {
    padding: 2px;
    /*border: 1px solid #ccc;*/
}
.gridster .gridster-item:hover .handle-se {
    border-width: 0 0 3rem 3rem !important;
    border-color: transparent transparent #def !important;
}

/* Widget styles */


.labelwidget {
    display: flex;
}

.labelwidget-content {
    margin: auto;
}

.dummy {
    display: flex;
    cursor: pointer;
}

.dummy-content {
    margin: auto;
    text-align: center;
    width: 100%;
}

.dummy-value-right {
    float: right;
    text-align: right;
}

.box-content.switch {
    padding-top: 0;
    padding-bottom: 0;
}
.switch {
    display: flex;
    cursor: pointer;
}

.switch-content {
    margin: auto;
    text-align: center;
}

.slider {
    display: flex;
}

.value {
    color: #0db9f0;
    font-size: 16px;
    text-align: center;
}

.switch-off {
    color: #89a;
}
.switch-icon {
    font-size: 24px;
}

.slider-content {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    margin-right: 0;
}

.slider-content-vertical {
    text-align: left;
    padding-bottom: 1.5em;
    height: 100%;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.slider-content-vertical .slider-label {
    width: 100%;
    text-align: center;
}

.slider-content-vertical .slider-container {
    text-align: center;
    margin: auto;
    height: 100%;
}

.slider-content-vertical .rzslider {
    text-align: left;
}


:not(.bigslider).rz-bubble {
    color: #0db9f0;
}
.rz-floor {
    color: #89a !important;
}

.rz-ceil {
    color: #89a !important;
}


.knob-content {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    margin-right: 0;
}


.image {
    background: black;
    display: flex;
    border: 1px solid #456;
}

.image-content {
    margin: auto;
}

.image-content img {
    zoom: 15;
    width: 100%;
    height: 100%;
}

.icon.backdrop {
    position: absolute;
    top: 10%;
    bottom: 10%;
}

.icon.backdrop.center {
    left: 10%;
    right: 10%;
}

.icon.inline {
    display: inline;
}

.icon-tile-backdrop {
    margin: auto;
    filter: opacity(15%);
    -webkit-filter: opacity(15%);
    max-width: calc(100% - 20px);
    /*max-height: calc(100% - 20px);*/
}

.icon-tile-backdrop.colorize {
    filter: invert(60%) sepia(100%) hue-rotate(165deg) opacity(15%);
    -webkit-filter: invert(60%) sepia(100%) hue-rotate(165deg) opacity(15%);
}

.icon-tile.colorize.off {
    filter: invert(45%) sepia(80%) hue-rotate(170deg);
    -webkit-filter: invert(45%) sepia(80%) hue-rotate(170deg);    
}
.icon-tile.colorize {
    filter: invert(60%) sepia(100%) hue-rotate(185deg) saturate(1000%);
    -webkit-filter: invert(60%) sepia(100%) hue-rotate(185deg) saturate(1000%);
}


/* iframe */

.frame-content, .frame-content-frameless, .frame-container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.frame .frame-label {
    padding-bottom: 10px;
}

.frame-content-frameless {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


/* colour picker */
.color-picker-swatch {
    border: #3960FF 1px dotted;
}
.transparent-swatch-arrow {
    padding-left: 3px;
    padding-top: 8px;
}

/* Big Mr. Robot-style slider :)
see http://www.makeuseof.com/wp-content/uploads/2016/07/mr-robot-heating.jpg */

.bigslider .rzslider {
    margin-bottom: 110px;
}

.bigslider .rz-bar-wrapper {
    visibility: hidden;
}

.bigslider .rz-pointer {
    height: 128px !important; border-radius: 0px !important;
    /*background-color: rgb(216, 224, 243) !important;*/
}

.bigslider .rz-pointer:after {
    top: 0;
    height: 128px;
    background-color: #def; /* #445566; */
    border-radius: 0px;
    width: 8px;
    border-left: 3px solid #234;
    border-right: 3px solid #234;
}

.bigslider .rz-pointer.rz-active:after {
    background-color: #def !important;
}

.bigslider .rz-ticks .rz-tick {
    width: 2px !important;
    height: 117px !important;
    border-radius: 0 !important;
    background-color: #445566
}

.bigslider .rz-ticks .rz-tick .selected {
    background-color: inherit;
}

.bigslider .rz-floor {
    font-size: 18pt;
    color: #def !important;
}

.bigslider .rz-ceil {
    font-size: 18pt;
    color: #def !important;
}

.bigslider .rz-bubble:not(.rz-floor):not(.rz-ceil) {
    background-color: #123;
    font-size: 32pt;
    width: 120px;
    border-radius: 10px;
    border: 2px solid #456;
    color: #aaaa77;
    z-index: 1000;
}

.bigslider .rzslider .rz-bar.rz-selection {
    display: none;
}

.chart-content .chart .grid .tick > line {
  stroke: #456;
}

.chart-content .chart .axis > .tick > text {
  fill: #89a;
  font-family: "Helvetica";
}

.chart-content .legend-label {
  color: #def;
}

.chart-content .chart-tooltip {
  background-color: #123;
}

/* Color picker */

.colorpicker canvas {
    cursor: pointer;
}

.colorpicker-content .axis path,
.colorpicker-content .axis line {
  fill: none;
  stroke: #456;
  shape-rendering: crispEdges;
}

.colorpicker-content .axis text {
    fill: #89a;
  font: 10px sans-serif;
}

.colorpicker-content .s .tick:last-of-type text,
.colorpicker-content .l .tick:last-of-type text {
  display: none;
}

.colorpicker-content .channel canvas {
  float: left;
  margin: 0px 30px 0 30px;
  width: 900px;
  /*width: calc(100% - 60px);*/
  height: 90px;
}