// Basic HABpanel styles

$body-bg:    rgb(250, 250, 250);
$body-color: #222;

$primary-color: #f00;

$box-bg:     #fff;

// General widget styles

$widget-design-bg:  #abc;
$widget-text-color: #333;

// Chart widget

$chart-stroke:  #456;
$chart-fill:    #89a;
$chart-tooltip: #123;

// Color picker widget

$colorpicker-border: #3960FF;
$colorpicker-stroke: #456;
$colorpicker-fill:   #89a;

// Image widget

$image-border: #456;

// Switch widget

$switch-off-color: #89a;

// Slider widget

$slider-pointer-color:       #234;
$slider-pointer-bg-color:    #def;
$slider-floor-color:         #def;
$slider-ceil-color:          #def;
$slider-bubble-bg-color:     #123;
$slider-bubble-border-color: #456;
$slider-bubble-color:        #aaaa77;

// Overwrite Bootstrap variables here

// $brand-primary:         $primary-color;
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

$link-color: #abc; // Bootstrap variable
$link-hover-decoration: none;

$icon-font-path: '../../../../fonts/bootstrap/';

$font-family-base: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$nav-tabs-active-link-hover-bg: #fff;

$border-radius-base:        0;
$border-radius-large:       $border-radius-base;
$border-radius-small:       $border-radius-base;

$text-muted: $body-color;