<div>
    <form name="_form" class="form-horizontal" ng-submit="submit(_form)">
        <div class="modal-header">
            <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</button>
            <h3>Slider Settings</h3>
        </div>

        <div class="modal-body">
            <tabset>
                <tab heading="General">
                    <br />

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{error: _form.name.$error && _form.submitted}">
                                <label class="control-label col-lg-3 col-md-3">Name</label>
                                <div class="col-lg-9 col-md-9">
                                    <input name="name" type="text" ng-model="form.name" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group" ng-class="{error: _form.item.$error && _form.submitted}">
                                <label class="control-label col-lg-3 col-md-3">OpenHAB Item</label>
                                <div class="col-lg-9 col-md-9">
                                    <select ng-model="form.item" ng-options="item.name as item.name for item in items" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group" ng-class="{error: _form.floor.$error && _form.submitted}">
                                    <label class="control-label col-xs-4">Min</label>
                                    <div class="col-xs-6">
                                        <input name="min" type="number" ng-model="form.floor" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group" ng-class="{error: _form.ceil.$error && _form.submitted}">
                                    <label class="control-label col-xs-4">Max</label>
                                    <div class="col-xs-6">
                                        <input name="max" type="number" ng-model="form.ceil" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group" ng-class="{error: _form.step.$error && _form.submitted}">
                                    <label class="control-label col-xs-4">Step</label>
                                    <div class="col-xs-6">
                                        <input name="step" type="number" ng-model="form.step" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group" ng-class="{error: _form.unit.$error && _form.submitted}">
                                    <label class="control-label col-xs-4">Unit</label>
                                    <div class="col-xs-6">
                                        <input name="unit" type="text" ng-model="form.unit" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group" ng-class="{error: _form.vertical.$error && _form.submitted}">
                                    <label class="control-label col-lg-3 col-md-3">Orientation</label>
                                    <div class="col-lg-9 col-md-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="vertical" ng-model="form.vertical" /> Vertical slider
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                </tab>

                <tab heading="Advanced">
                    <br />
                    <div class="row">

                        <div class="col-xs-12">
                            <div class="form-group" ng-class="{error: _form.hidelabels.$error && _form.submitted}">
                                <div class="col-lg-6 col-md-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="hidelabel" ng-model="form.hidelabel" /> Hide title label
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{error: _form.hidelimits.$error && _form.submitted}">
                                <div class="col-lg-6 col-md-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="hidelimits" ng-model="form.hidelimits" /> Hide limits labels
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{error: _form.hidepointer.$error && _form.submitted}">
                                <div class="col-lg-6 col-md-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="hidepointer" ng-model="form.hidepointer" /> Hide current value label
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="form-group" ng-class="{error: _form.showticks.$error && _form.submitted}">
                                <div class="col-lg-6 col-md-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="showticks" ng-model="form.showticks" /> Show ticks
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{error: _form.showticksvalues.$error && _form.submitted}">
                                <div class="col-lg-6 col-md-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="vertical" ng-model="form.showticksvalues" /> Show ticks labels
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </tab>
        </div>

        <div class="modal-footer">
            <a ng-click="remove()" class="btn btn-danger pull-left" tabindex="-1"><i class="glyphicon glyphicon-trash"></i>&nbsp;Delete</a>
            <a ng-click="dismiss()" class="btn btn-default" tabindex="-1"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancel</a>
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;Save</button>
        </div>
    </form>
</div>
