<div class="page-header controls">
	<div class="dropdown pull-right">
		<button class="btn btn-default dropdown-toggle" type="button" id="addWidgetMenu" data-toggle="dropdown" aria-haspopup="true">
			<i class="glyphicon glyphicon-plus"></i> Add Widget
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="addWidgetMenu">
			<li ng-repeat="type in widgetTypes"><a ng-click="addWidget(type.type)">{{type.displayName}}</a></li>
		</ul>
	</div>
	<a class="btn" href="#/"><i class="glyphicon glyphicon-chevron-left"></i></a>
	<a class="btn btn-success" ng-click="save()"><i class="glyphicon glyphicon-save"></i>&nbsp;Save</a>
	<a class="btn btn-primary" ng-click="run()"><i class="glyphicon glyphicon-play"></i>&nbsp;Run</a>

</div>
<div gridster="gridsterOptions">
	<ul>
		<li gridster-item="widget" ng-repeat="widget in dashboard.widgets">
			<div class="box box-design" ng-controller="CustomWidgetCtrl">
				<div class="box-header pull-left" style="display: inline">
					<i class="handle glyphicon glyphicon-move"></i>
					<h3>{{ widget.type }}</h3>
				</div>
				<div class="box-content box-label-content">
					<div class="box-label">
						{{ widget.name }}
					</div>
				</div>
				<div class="box-header-btns pull-right">
					<a class="settings-btn" title="settings" ng-click="openSettings(widget)"><i class="glyphicon glyphicon-cog"></i></a>
				</div>
			</div>
		</li>
	</ul>
</div>