<div class="header">
	<a class="btn pull-left" onclick="window.history.back()"><i class="glyphicon glyphicon-chevron-left"></i></a>
	<a class="btn pull-left" href="#/"><i class="glyphicon glyphicon-home"></i></a>
	<a class="btn pull-right" ng-click="vm.goFullscreen()"><i class="glyphicon glyphicon-resize-full"></i></a>
	<a class="btn pull-right" ng-click="vm.refresh()"><i class="glyphicon glyphicon-refresh"></i></a>
	<h2>&nbsp;{{vm.dashboard.name}}</h2>
</div>
<div gridster="vm.gridsterOptions">
	<ul>
		<li gridster-item="widget" ng-repeat="widget in vm.dashboard.widgets">
			<div class="box">
				<generic-widget type="widget.type" ng-model="widget"></generic-widget>
			</div>
		</li>
	</ul>
</div>
