<style>
    /* Inline styles are sort of OK here since this template is lazy-loaded... */

    .readme h1 {
        color: black;
        font-size: 18pt;
        margin: inherit;
        text-align: inherit;
        position: inherit;
        width: inherit;
        padding-bottom: 10px;
    }

    .readme h2 {
        color: black;
        font-size: 16pt;
        padding-bottom: 6px;
    }

    .readme h3 {
        color: black;
        font-size: 14pt;
    }

    .readme h4 {
        color: black;
        font-size: 12pt;
    }

    .readme ul {
        list-style: inherit;
    }

    .repo-header .avatar {
        height: 4.2em;
        width: 4.2em;
        margin-right: 15px;
        position: absolute;
        left: 2em;
    }

    .repo-header .repo-title {
        color: black;
    }

    .repo-header .repo-info {
        padding-left: 5em;
    }

    .repo-header .import-btn {
        margin-left: 3em;
        margin-top: 8px;
    }

    .widget-details.thumbnail {
        height: 220px;
    }

    .widget-details.thumbnail .caption .title {
        height: 1.2em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        white-space: nowrap;
    }

    .widget-details.thumbnail .caption .description {
        height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 5;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
</style>

<div>
    <form name="_form" class="form-horizontal" ng-submit="submit(_form)">
        <div class="modal-header">
            <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</button>
            <h3>Import Widgets from GitHub</h3>
        </div>

        <div class="modal-body">
            <div ng-if="vm.rateLimit.remaining < 3" uib-alert type="danger">Warning: rate limiting on the GitHub API will temporarily block further requests!
                Wait until {{vm.rateLimit.reset*1000 | date:'HH:mm:ss'}} and try again.
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="input-group">
                        <input name="name" type="text" ng-model="vm.repoId" class="form-control" placeholder="Repository full name (owner/name) or URL"
                        />
                        <span class="input-group-btn">
                            <button class="btn btn-default" style="padding-bottom: 7px" type="button" ng-click="vm.fetchRepo()">Go</button>
                        </span>
                    </div>
                </div>
            </div>
            <hr class="row" />
            <uib-progressbar max="vm.progressMax" value="vm.progressCurrent" class="progress-striped active" ng-show="vm.loadingRepo"></uib-progressbar>
            <div>
                <div ng-if="!vm.loadingRepo && vm.repoDetails" class="panel panel-default">
                    <div class="panel-heading repo-header">
                        <img ng-src="{{vm.repoDetails.owner.avatar_url}}" class="avatar" />
                        <div class="col-md-8 repo-info">
                            <h4><a class="repo-title" href="{{vm.repoDetails.html_url}}" target="_blank">{{vm.repoDetails.name}}</a> <small>by <a href="{{vm.repoDetails.owner.html_url}}" target="_blank">{{vm.repoDetails.owner.login}}</a>&nbsp;|&nbsp;<i class="glyphicon glyphicon-star"></i>&nbsp;{{vm.repoDetails.stargazers_count}}</small></h4>
                            <div>{{vm.repoDetails.description}}</div>
                            <small><a ng-if="vm.repoDetails.homepage" href="{{vm.repoDetails.homepage}}" target="_blank"><i class="glyphicon glyphicon-globe"></i>&nbsp;{{vm.repoDetails.homepage}}</a></small>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-lg btn-success import-btn" ng-click="submit()" ng-disabled="vm.importableWidgets < 1">
                                <ng-pluralize count="vm.importableWidgets"
                                    when="{'0': 'No widgets to import.',
                                           'one': 'Import Widget',
                                           'other': 'Import {} Widgets'}">
                                </ng-pluralize>
                                <span class="label label-warning show" ng-if="vm.updatableWidgets">{{vm.updatableWidgets}} to update</span>
                            </button>
                            <br /><br />
                        </div>
                        <div style="clear:both">
                            <br />
                            <span ng-hide="expandWidgets"><a ng-click="expandWidgets = true" class="btn btn-default btn-sm">Show details <span class="caret"></span></a></span>
                            <span ng-show="expandWidgets"><a ng-click="expandWidgets = false" class="btn btn-default btn-sm">Hide details <span class="caret" style="transform: rotate(180deg);"></span></a></span>
                            &nbsp;<a class="btn btn-default btn-sm" href="{{vm.repoDetails.archive_url.replace('{archive_format}', 'zipball').replace('{/ref}', '')}}" target="_blank">Download ZIP</a>
                        </div>
                    </div>
                    <div class="col-xs-12" ng-show="expandWidgets">
                        <br />
                        <p class="col-xs-12">
                            <strong ng-if="vm.widgets">This repository contains the following widgets which can be imported individually:</strong>
                            <strong ng-if="!vm.widgets" class="text-danger">No widgets were found in this repository (*.widget.json files), try another one!</strong>
                        </p>
                        <div class="col-xs-6 col-sm-4" ng-repeat="(id,widget) in vm.widgets">
                            <div class="thumbnail widget-details">
                                <div class="caption">
                                    <h4 class="title">{{id}}</h4>
                                    <p class="description"><small>{{widget.description}}</small></p>
                                    <p>
                                        <button type="button" ng-if="!widget.imported && !widget.is_update" ng-click="vm.importWidget(id)" class="btn btn-sm btn-success">Import widget</button>
                                        <button type="button" ng-if="!widget.imported && widget.is_update" ng-click="vm.importWidget(id, true)" class="btn btn-sm btn-warning">Update widget</button>
                                        <button type="button" ng-if="widget.imported" class="btn btn-sm btn-primary" disabled="disabled">Widget imported!</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr style="clear:both" />
                    </div>
                    <div class="panel-body">
                        <div ng-bind-html="vm.readme" class="readme"></div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="!vm.loadingRepo && vm.error" class="alert alert-danger">Error: {{vm.error}}</div>
        <div ng-if="!vm.loadingRepo && !vm.repoDetails" class="alert alert-warning">Caution: Always be careful when importing widgets from unknown sources!</div>

        <div class="modal-footer">
            <a ng-click="dismiss()" class="btn btn-default" tabindex="-1"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancel</a>
        </div>
    </form>
</div>
