<div class="header">
    <!--<a class="btn btn-link pull-left" onclick="window.history.back()"><i class="glyphicon glyphicon-chevron-left"></i></a>-->
    <a class="btn pull-left" title="Menu" snap-toggle="left">
        <i class="glyphicon glyphicon-menu-hamburger"></i>
    </a>
	<h2>Settings</h2>
</div>

<div class="scrollable">

    <div class="box col-md-5">
        <br />    
        <h4>Current storage configuration</h4>

        <ul>
            <li>
                <input type="radio" ng-click="vm.switchToPanelConfig($event)" ng-model="vm.storageOption" value="(localStorage)" />&nbsp;<strong>Local storage</strong>
                <br /><small>The configuration is saved for this browser and device only. It will be kept as long as you don't clean up the browser's historical data.
                <br /><a href="#/settings/localconfig">Edit the local panel configuration (experts only)</a></small>
                <br /><br />
            </li>
            <li ng-if="useRegistry" ng-repeat="(name, data) in vm.panelsRegistry">
                <a class="pull-right" ng-if="vm.storageOption != name" ng-click="vm.deletePanelConfig(name)"><i class="glyphicon glyphicon-trash"></i></a> 
                <input type="radio" ng-click="vm.switchToPanelConfig($event)" ng-model="vm.storageOption" value="{{name}}" />&nbsp;<strong>Panel configuration: <em>{{name}}</em></strong>
                <br /><small>Last synced on {{data.updatedTime | date:'EEE d MMM HH:mm:ss'}}</small>
                <div>Contains:</div>
                <ul>
                    <li ng-repeat="dashboard in data.dashboards">
                        {{dashboard.name}}
                    </li>
                </ul>
                <br /><br />
            </li>
        </ul>
        <a ng-if="vm.useRegistry" ng-click="vm.saveAsNewPanelConfig()"><i class="glyphicon glyphicon-save">&nbsp;</i>Save the current configuration to a new panel configuration</a>
        <div ng-if="!vm.useRegistry" class="alert alert-warning">Panel configurations are not available: not running openHAB 2 or service not installed?</div>

        <br />
        <br />
    </div>

    <div class="col-md-2"></div>


    <div class="box col-md-5">
        <br />
        <h4>Panel name</h4>

        <input type="text" class="form-control" ng-blur="vm.saveOptions()" ng-model="settings.panel_name" placeholder="Replaces 'HABPanel' in the side drawer when set" />

        <br />
        <br />
        <h4>Appearance</h4>

        <label>Theme</label>
        <select ng-if="vm.supportsTheming" class="form-control" ng-change="vm.saveOptions()" ng-model="settings.theme" ng-options="theme.id as theme.name for theme in vm.themes"></select>
        <div class="alert alert-warning" ng-if="!vm.supportsTheming">Themes are not compatible with this browser.</div>
        <br />
        <br />
        <label>Additional stylesheet (optional)</label>
        <input type="text" class="form-control" ng-blur="vm.saveOptions()" ng-model="vm.additional_stylesheet_url" placeholder="Relative URL only; example: /static/example.css" />
        <br />
        <br />
        <label>Background image (optional)</label>
        <input type="text" class="form-control" ng-blur="vm.saveOptions()" ng-model="vm.background_image" placeholder="Example: //source.unsplash.com/random" />
        <br />
        <br />
        <div class="input-group">
            <input type="checkbox" ng-model="settings.no_clock" ng-change="vm.saveOptions()" id="no_clock" /><label for="no_clock">&nbsp;No clock on the home menu</label>
        </div>
        <div class="input-group">
            <input type="checkbox" ng-model="settings.no_scrolling" ng-change="vm.saveOptions()" id="no_scrolling" /><label for="no_scrolling">&nbsp;Prevent scrolling (when not editing)</label>
        </div>

        <br />
        <br /> 
        <h4>Custom widgets</h4>
        <a class="btn btn-lg btn-primary" href="#/settings/widgets">
            Manage &gt;
        </a>

        <br />
        <br /> 
        <br /> 
        <h4>Spoken Feedback</h4>
        <label>Voice</label>
        <div class="form-group">

        <select class="form-control" ng-change="vm.saveOptions()" ng-model="settings.speech_synthesis_voice" ng-options="voice.name as voice.name + (voice.lang ? ' ('+voice.lang+')' : '') for voice in vm.voices">
            <option value=""></option>
        </select>
        <small>Available voices depend on the operating system and browser environments.</small>
        <br />
        <button class="btn btn-primary" ng-click="vm.speakTestSentence()">Test</button>

        <br />
        <br />
        <label>Speak the new value of the following item when it changes:</label>
        <select ng-model="settings.speech_synthesis_item" ng-change="vm.saveOptions()" ng-options="item.name as item.name for item in items | filter: vm.isStringItem" class="form-control">
            <option value=""></option>
        </select>
        <br />
        <div class="input-group" ng-if="vm.supportsSpeech">
            <input type="checkbox" ng-model="settings.floating_speech" ng-change="vm.saveOptions()" id="floating_speech" />
            <label for="floating_speech">&nbsp;Display a floating speech button at the bottom of the screen</label>
        </div>
        <br />
        <br />

        <h4>Switch dashboard with item value</h4>    
        <label>When this item changes to a dashboard's name, switch to it:</label>
        <div class="form-group">
            
        <select ng-model="settings.dashboard_control_item" ng-change="vm.saveOptions()" ng-options="item.name as item.name for item in items | filter: vm.isStringItem" class="form-control">
            <option value=""></option>
        </select>
    </div>

    <br />
    <br />
</div>